/* Hero Section */
.heroSection {
  padding: 120px 0px 60px 0px;
  text-align: center;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.heroButton {
  margin: 0.5rem;
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #3f3f3f;
  box-shadow: inset 0 0 #0000;
}

/* About Me Section */
.profileImage {
  width: 100% !important;
  height: auto;
  margin-bottom: 1rem;
}

.aboutText {
  font-size: 1.1rem;
  color: #d1d1d1;
  margin-bottom: 1rem;
}

/*Experience & Education CSS*/

.sectionTitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.timelineColumn {
  margin-bottom: 40px;
}

.columnTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 3rem;
}

.timelineItem {
  background: #141415eb;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.timelineItem:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.timelineHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.timelineHeader h4 {
  font-size: 1.5rem;
  margin: 0;
}

.timelineDuration {
  font-size: 0.9rem;
  color: #c7c7c7;
}

.timelineCompany,
.timelineInstitution {
  font-weight: bold;
  margin-bottom: 5px;
  color: #0b9eac;
}

.timelineItem p {
  font-size: 0.95rem;
  color: #c7c7c7;
}

/* Skills Section */
.skillsSection {
  text-align: center;
}

.skillCard {
  margin: 1rem 0;
  text-align: center;
}

.skillIcon {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
}

.skillCard h4 {
  font-size: 1rem;
}

/* Contact Section */
.contactSection {
  text-align: center;
}

@media screen and (max-width: 520px) {
  .abtRow {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
