/* Hero Section */
.heroSection {
    padding: 120px 0px 60px 0px;
    text-align: center;
}

.heroTitle {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
}

.heroSubtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.heroButton {
    margin: 0.5rem;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #3f3f3f;
    box-shadow: inset 0 0 #0000;
}

/* About Me Section */
.profileImage {
    width: 100%;
    margin-bottom: 1rem;
}

.aboutText {
    font-size: 1.1rem;
    color: #d1d1d1;
    margin-bottom: 1rem;
}

/* Skills Section */
.skillsSection {
    text-align: center;
}

.skillCard {
    margin: 1rem 0;
    text-align: center;
}

.skillIcon {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
}

/* Contact Section */
.contactSection {
    text-align: center;
}

@media screen and (max-width: 520px) {
   .abtRow {
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
}