.cardMain {
    background-color: #131516;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Lato, sans-serif;
    padding: 0 25px;
}

.cardContainer {
    display: flex;
    width: 650px;
    height: auto;
    background: linear-gradient(to right, #024945, #12a89c);
    border-radius: 12px;
    box-shadow: 1px 7px 10px 2px #00000026;
}

.image,
.descripcion {
    padding: 30px;
    text-align: left;
    color: #fff;
}

.descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descripcion h1 {
    font-weight: 400;
}

.descripcion h2 {
    line-height: 2;
    font-weight: 500;
    font-size: medium;
}

.descripcion p {
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
}

.descripcion .icons,
.image .icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.descripcion .icons a,
.image .icons a {
    color: #fff;
    font-size: 30px;
    transition: .3s;
}

.descripcion .icons a:hover,
.image .icons a:hover {
    transform: translateY(-3px) scale(1.05);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

.image img:hover {
    transform: translateY(-3px) scale(1.05);
}

@media (max-width: 576px) {
    .main {
        height: 100vh;
        padding: 0 15px;
    }

    .cardContainer {
        display: flex;
        flex-direction: column-reverse;
        background: linear-gradient(#12a89c, #024945);
        width: 750px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .descripcion {
        padding: 10px 20px 18px;
    }

    .descripcion h1 {
        font-weight: 400;
        font-size: 25px;
    }

    .descripcion h2 {
        line-height: 2;
        font-weight: 500;
        font-size: 17px;
    }

    .descripcion p {
        font-weight: 300;
        font-size: 15px;
    }

    .descripcion .icons {
        margin-top: 18px;
    }

    .image {
        padding: 15px 0 0;
    }

    .image img {
        width: 90px;
        height: 90px;
    }

}