.hdrMain{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 9;
}

.logo {
    align-content: center;
}

.logo h1 {
font-size: 20px;
text-align: center;
margin-bottom: 0;
}

.navs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLnk {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #0000004d;
    backdrop-filter: blur(1rem);
    border: 1px solid #3f3f3f;
    border-radius: 1rem;
    padding: 5px 10px;
}

.navLnk a {
    font-size: 16px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.navLnk a:active {
    background-color: #9595954d;
    border: 1px solid #9595954d;
    padding: 0.25rem 0.75rem;
    border-radius: 0.75rem;
}